@(variable: Form[Application.Adder])

@import helper._

@main("Post It"){

<h1>Add a blog post</h1>


<form class="col-lg-11" method="POST" action="@routes.Application.adding">
<textarea name="text" placeholder="Type something..." style="width: 100%;  min-height: 100px;">
</textarea><br/>
<input type="submit" value="Submit" />
</form>

<!--
@form(action = routes.Application.adding, args =  'id -> "variable") {

		@inputText(
			field = variable("Text")
		)
		
		<p class="button btn-default"><input type="submit"></p>

	}

!-->

}



