@(variable: Form[Application.Adder])

@import helper._

@main("Post It"){

<h1>Add a blog post</h1>


<form class="col-lg-11" method="POST" action="@routes.Application.adding">

<input class="textarea1" type="text2" role="textbox" contenteditable="true" data-role="editable" name="text"></p>

<p class="button btn-default"><input type="submit"></p>
</form>

<!--
@form(action = routes.Application.adding, args =  'id -> "variable") {

		@inputText(
			field = variable("Text")
		)
		
		<p class="button btn-default"><input type="submit"></p>

	}

!-->

}



