@(blogs: List[Blog], log : Form[Application.logInCredentials], users: List[Users]) 

@import helper._

@main("Blogs") {


<div  class="row navbar-collapse collapse pull-right" style="text-align:center">
<form class="col-lg-11" method="post" action="@routes.Application.check">
<ul class="nav navbar-nav">
<li><input type="text" name="username" placeholder="username"/></li>
<li></br></br></li>
<li><input type="password" name="password" placeholder="password" /></li>
<li></br></br></li>
<li><input class = "btn-success"type="submit" value="Login" /><li/></br></br>
</ul>  
</form>

</div>

</br></br></br>
<div class="row" style="text-align:center">
	<h1 class="jumbotron" style="background-color: GREY; text-align:center font-size: 50px">Hello Blog</h1>
</div>
</br>
<!-- Example row of columns -->

<div class="row">
	
</div>	

<div class="row" >
	<div class="col-lg-8">
	@for(blog <- blogs) {
	<div class="jumbotron">
		<h2 style="color: GREY">@blog.header</h2>
		<h6 style="color:RED">Time: @blog.time Author: @blog.author</h6>
		<blockquote style="font-size: 22px ; color: #2929A6 word-wrap: break-word">@blog.text</blockquote>
	</div>
	}
	</div>
	<div class="col-lg-4">
	</div>
</div>
}

